<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sidev.app.course.dicoding.bab3_modul3.githubuser3">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="sidev.app.course.dicoding.bab3_modul3.githubuser3fav" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingGithubUser2" >
        <!-- Lists activities of appCommon module -->
        <activity android:name="sidev.app.course.dicoding.bab3_modul3.appcommon.act.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="sidev.app.course.dicoding.bab3_modul3.appcommon.act.UserListAct" />
        <activity android:name="sidev.app.course.dicoding.bab3_modul3.appcommon.act.UserDetailAct" >
            <intent-filter>
                <action android:name="sidev.app.course.dicoding.bab3_modul3.appcommon.DETAIL"/>
            </intent-filter>
        </activity>
    </application>

</manifest>